
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    left: -1e+8px;
    position: absolute;
}
.ui-helper-reset {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-helper-clearfix {
    display: block;
}
* html .ui-helper-clearfix {
    height: 1%;
}
.ui-helper-zfix {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.fixed {
    margin: 0 auto;
    width: 1028px;
}
.fixed #sidebar {
    border-width: 1px;
    margin: 25px 0 0 -242px !important;
}
.ui-state-disabled {
    cursor: default !important;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
}
.ui-icon-carat-1-n, .headerSortUp .ui-icon-carat-2-n-s {
    background-position: 0 0;
}
.ui-icon-carat-1-ne {
    background-position: -16px 0;
}
.ui-icon-carat-1-e, #navigation li ul .ui-icon-carat-1-s {
    background-position: -32px 0;
}
.ui-icon-carat-1-se {
    background-position: -48px 0;
}
.ui-icon-carat-1-s, .headerSortDown .ui-icon-carat-2-n-s {
    background-position: -64px 0;
}
.ui-icon-carat-1-sw {
    background-position: -80px 0;
}
.ui-icon-carat-1-w {
    background-position: -96px 0;
}
.ui-icon-carat-1-nw {
    background-position: -112px 0;
}
.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}
.ui-icon-carat-2-e-w {
    background-position: -144px 0;
}
.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}
.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}
.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
    background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}
.ui-icon-arrow-4 {
    background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}
.ui-icon-extlink {
    background-position: -32px -80px;
}
.ui-icon-newwin {
    background-position: -48px -80px;
}
.ui-icon-refresh {
    background-position: -64px -80px;
}
.ui-icon-shuffle {
    background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}
.ui-icon-folder-open {
    background-position: -16px -96px;
}
.ui-icon-document {
    background-position: -32px -96px;
}
.ui-icon-document-b {
    background-position: -48px -96px;
}
.ui-icon-note {
    background-position: -64px -96px;
}
.ui-icon-mail-closed {
    background-position: -80px -96px;
}
.ui-icon-mail-open {
    background-position: -96px -96px;
}
.ui-icon-suitcase {
    background-position: -112px -96px;
}
.ui-icon-comment {
    background-position: -128px -96px;
}
.ui-icon-person {
    background-position: -144px -96px;
}
.ui-icon-print {
    background-position: -160px -96px;
}
.ui-icon-trash {
    background-position: -176px -96px;
}
.ui-icon-locked {
    background-position: -192px -96px;
}
.ui-icon-unlocked {
    background-position: -208px -96px;
}
.ui-icon-bookmark {
    background-position: -224px -96px;
}
.ui-icon-tag {
    background-position: -240px -96px;
}
.ui-icon-home {
    background-position: 0 -112px;
}
.ui-icon-flag {
    background-position: -16px -112px;
}
.ui-icon-calendar {
    background-position: -32px -112px;
}
.ui-icon-cart {
    background-position: -48px -112px;
}
.ui-icon-pencil {
    background-position: -64px -112px;
}
.ui-icon-clock {
    background-position: -80px -112px;
}
.ui-icon-disk {
    background-position: -96px -112px;
}
.ui-icon-calculator {
    background-position: -112px -112px;
}
.ui-icon-zoomin {
    background-position: -128px -112px;
}
.ui-icon-zoomout {
    background-position: -144px -112px;
}
.ui-icon-search {
    background-position: -160px -112px;
}
.ui-icon-wrench {
    background-position: -176px -112px;
}
.ui-icon-gear {
    background-position: -192px -112px;
}
.ui-icon-heart {
    background-position: -208px -112px;
}
.ui-icon-star {
    background-position: -224px -112px;
}
.ui-icon-link {
    background-position: -240px -112px;
}
.ui-icon-cancel {
    background-position: 0 -128px;
}
.ui-icon-plus {
    background-position: -16px -128px;
}
.ui-icon-plusthick {
    background-position: -32px -128px;
}
.ui-icon-minus {
    background-position: -48px -128px;
}
.ui-icon-minusthick {
    background-position: -64px -128px;
}
.ui-icon-close {
    background-position: -80px -128px;
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-icon-key {
    background-position: -112px -128px;
}
.ui-icon-lightbulb {
    background-position: -128px -128px;
}
.ui-icon-scissors {
    background-position: -144px -128px;
}
.ui-icon-clipboard {
    background-position: -160px -128px;
}
.ui-icon-copy {
    background-position: -176px -128px;
}
.ui-icon-contact {
    background-position: -192px -128px;
}
.ui-icon-image {
    background-position: -208px -128px;
}
.ui-icon-video {
    background-position: -224px -128px;
}
.ui-icon-script {
    background-position: -240px -128px;
}
.ui-icon-alert {
    background-position: 0 -144px;
}
.ui-icon-info {
    background-position: -16px -144px;
}
.ui-icon-notice {
    background-position: -32px -144px;
}
.ui-icon-help {
    background-position: -48px -144px;
}
.ui-icon-check {
    background-position: -64px -144px;
}
.ui-icon-bullet {
    background-position: -80px -144px;
}
.ui-icon-radio-off {
    background-position: -96px -144px;
}
.ui-icon-radio-on {
    background-position: -112px -144px;
}
.ui-icon-pin-w {
    background-position: -128px -144px;
}
.ui-icon-pin-s {
    background-position: -144px -144px;
}
.ui-icon-play {
    background-position: 0 -160px;
}
.ui-icon-pause {
    background-position: -16px -160px;
}
.ui-icon-seek-next {
    background-position: -32px -160px;
}
.ui-icon-seek-prev {
    background-position: -48px -160px;
}
.ui-icon-seek-end {
    background-position: -64px -160px;
}
.ui-icon-seek-first {
    background-position: -80px -160px;
}
.ui-icon-stop {
    background-position: -96px -160px;
}
.ui-icon-eject {
    background-position: -112px -160px;
}
.ui-icon-volume-off {
    background-position: -128px -160px;
}
.ui-icon-volume-on {
    background-position: -144px -160px;
}
.ui-icon-power {
    background-position: 0 -176px;
}
.ui-icon-signal-diag {
    background-position: -16px -176px;
}
.ui-icon-signal {
    background-position: -32px -176px;
}
.ui-icon-battery-0 {
    background-position: -48px -176px;
}
.ui-icon-battery-1 {
    background-position: -64px -176px;
}
.ui-icon-battery-2 {
    background-position: -80px -176px;
}
.ui-icon-battery-3 {
    background-position: -96px -176px;
}
.ui-icon-circle-plus {
    background-position: 0 -192px;
}
.ui-icon-circle-minus {
    background-position: -16px -192px;
}
.ui-icon-circle-close {
    background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}
.ui-icon-circle-check {
    background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}
.ui-widget-header {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.4em;
    padding: 7px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .pagination a {
    font-weight: bold;
    outline: medium none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .pagination a:hover {
    font-weight: bold;
    outline: medium none;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    font-weight: bold;
    outline: medium none;
}
.ui-tabs {
    padding: 0.2em;
}
.ui-tabs .ui-tabs-nav {
    list-style: none outside none;
    padding: 0.2em 0.2em 0;
    position: relative;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom-width: 0 !important;
    float: left;
    margin: 0 0.2em -1px 0;
    padding: 0;
    position: relative;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border-bottom-width: 0;
    padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;
    padding: 1em 1.4em;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.ui-widget-overlay {
    background: none repeat scroll 0 0 #000000;
    opacity: 0.8;
    position: absolute;
    top: 0;
}
.fakewindowcontain {
    background: none repeat scroll 0 0 #333333;
}
.ui-widget-shadow {
    background: url("../images/ui/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
    margin: -4px 0 0 -4px;
    opacity: 0.6;
    padding: 4px;
}
.ui-accordion .ui-accordion-header {
    cursor: pointer;
    margin-top: 1px;
    position: relative;
}
.ui-accordion .ui-accordion-li-fix {
    display: inline;
}
.ui-accordion .ui-accordion-header-active {
    border-bottom: 0 none !important;
}
.ui-accordion .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding: 0.5em 0.5em 0.5em 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon {
    left: 0.5em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-accordion .ui-accordion-content {
    border-top: 0 none;
    display: none;
    margin-bottom: 2px;
    margin-top: -2px;
    overflow: auto;
    padding: 10px;
    position: relative;
    top: 1px;
}
.ui-accordion .ui-accordion-content-active {
    display: block;
}
.ui-datepicker {
    padding: 0.2em 0.2em 0;
    width: 17em;
}
.ui-datepicker .ui-datepicker-header {
    padding: 0.2em 0;
    position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    float: left;
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    float: right;
}
.ui-datepicker table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0 0 0.4em;
    width: 100%;
}
.ui-datepicker th {
    border: 0 none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker td {
    border: 0 none;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker-cover {
    display: block;
    height: 200px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 200px;
    z-index: -1;
}
.ui-dialog {
    padding: 0.2em;
    position: relative;
    width: 300px;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.5em 0.3em 0.3em 1em;
    position: relative;
}
.ui-dialog .ui-dialog-title {
    float: left;
    margin: 0.1em 0 0.2em;
}
.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
    margin: -10px 0 0;
    padding: 1px;
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 19px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}
.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    padding: 0.5em 1em;
}
.ui-dialog .ui-dialog-content p {
    line-height: 1.4em;
}
.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 1px 0 0;
    margin: 0.5em 0 0;
    padding: 0.3em 1em 0.5em 0.4em;
    text-align: left;
}
ul#icons {
    margin: 0;
    padding: 0;
}
ul#icons li, .pagination li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 2px;
    padding: 4px 0;
    position: relative;
}
ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.pagination li a {
    display: block;
    padding: 3px 6px 2px;
}
.pagination .previous-off, .pagination .next-off, .pagination .active {
    padding: 8px 4px;
}
a.btn {
    padding: 0.4em 1em 0.4em 20px;
    position: relative;
}
a.btn_no_text {
    padding: 10px;
}
a.btn span.ui-icon {
    left: 0.2em;
    margin: 0 5px 0 0;
    position: absolute;
    top: 2px;
}
#header a.btn span.ui-icon {
    top: 4px;
}
#page-wrapper a.btn {
    display: block;
    float: left;
    margin: 5px;
}
button {
    cursor: pointer;
    float: left;
    line-height: 1.4em;
    margin: 0.5em 0.4em 0.5em 0;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
#header {
    height: 121px;
    padding: 0 10px;
}
#header #top-menu {
    font-size: 0.9em;
    height: 28px;
    line-height: 28px;
    text-align: right;
}
#header #top-menu span {
    padding: 0 0 0 20px;
}
#header #top-menu span a {
    font-weight: bold;
}
#header #sitename {
    height: 43px;
    padding: 8px 0 0;
}
#header #sitename a.logo {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 45px;

}
#header #sitename .button {
    margin: 12px 0 0;
}
#page-wrapper {
}
#page-wrapper #main-wrapper {
    float: left;

    width: 100%;
}
#page-wrapper #main-wrapper #main-content {
    margin-right: 242px;
    padding: 10px;
}
#navigation li {
    float: left;
    position: relative;
}
#navigation li a {
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 8px;
}
#navigation li.sfHover a, #navigation li.sfHover2 a {
    padding: 0 7px;
}
#navigation li ul {
    left: -1px;
    padding: 5px;
    position: absolute;
    width: 185px;
    z-index: 999;
}
#navigation li ul li {
    float: none;
    position: relative;
    z-index: 999;
}
#navigation li ul li.sfHover, #navigation li ul li.sfHover2 {
    border-left: 0 none;
    border-right: 0 none;
    margin: 0;
}
#navigation li ul li ul {
    left: 185px;
    top: 0;
}
#navigation .ui-icon-carat-1-s {
    float: right;
    margin: 12px 0 0;
}
#page-wrapper #main-wrapper #main-content .page-title {
    margin: 0 0 20px;
    padding: 10px;
}
#page-wrapper #main-wrapper #main-content .page-title h1 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0;
}
#page-wrapper #main-wrapper #main-content .page-title .other {
    font-size: 0.9em;
    margin: 8px 0 0;
    padding: 8px 0 0;
    width: 100%;
}
#page-wrapper #main-wrapper #main-content .page-title .other .float-left {
    padding: 6px 0 0;
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li {
    float: left;
    margin: 7px;
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a {
    background-position: 50% 5px;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    padding: 80px 0 0;
    text-align: center;
    width: 100px;
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Books {
    background-image: url("../images/Books.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Book_phones {
    background-image: url("../images/Book_phones.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Briefcase_files {
    background-image: url("../images/Briefcase_files.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Box_recycle {
    background-image: url("../images/Box_recycle.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Box_user {
    background-image: url("../images/Users_Group.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Box_content {
    background-image: url("../images/Box_content.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Chart_5 {
    background-image: url("../images/Chart_5.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Clipboard_3 {
    background-image: url("../images/Clipboard_3.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Chart_4 {
    background-image: url("../images/Chart_4.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Mail_open {
    background-image: url("../images/Mail_open.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Glass {
    background-image: url("../images/Glass.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Globe {
    background-image: url("../images/Globe.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Mail_compose {
    background-image: url("../images/Mail_compose.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Star {
    background-image: url("../images/Star.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Monitor {
    background-image: url("../images/Monitor.png");
}
#page-wrapper #main-wrapper .title {
    margin: 0 0 30px;
    padding: 0 15px 10px;
}
#page-wrapper #main-wrapper .title-spacing {
    margin-top: 25px;
}
#page-wrapper #main-wrapper .title h2 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 0 0 5px;
}
#page-wrapper #main-wrapper .title h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 5px;
}
.column {
    float: left;
    width: 33%;
}
.two-column .column, .two-column .column-fixed {
    float: left;
    margin: 0;
    width: 50%;
}
.three-column-small .column {
    width: 25%;
}
.three-column-small .column-big {
    width: 49%;
}
.portlet {
    margin: 0 1em 1em 0;
}
.portlet-content {
    margin: 0;
    padding: 7px;
}
.portlet-header .ui-icon {
    float: right;
    margin-top: -2px;
}
.ui-sortable-placeholder {
    background: none repeat scroll 0 0 #FFFFCC;
    height: 50px !important;
    padding: 14px;
    visibility: visible !important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}
#tooltip {
    background: none repeat scroll 0 0 #363636;
    color: #FFFFFF !important;
    font-size: 0.9em;
    padding: 3px;
    position: absolute;
    z-index: 30000;
}
#tooltip div {
    background: none repeat scroll 0 0 #808080;
    font-size: 0.9em;
    margin: 0;
    padding: 5px;
}
#tooltip h3 {
    background: none repeat scroll 0 0 #5F5F5F;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}
#page-wrapper #sidebar {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    float: left;
    margin: 0 0 0 -241px;
    padding: 10px;
    width: 220px;
}
#page-wrapper #sidebar .side-col .portlet {
    margin: 0 0 15px;
}
#page-wrapper #sidebar .ui-datepicker {
    margin-bottom: 10px;
    width: auto;
}
#page-wrapper #sidebar .side-menu li {
    display: block;
}
#page-wrapper #sidebar .side-menu li a {
    display: block;
    padding: 4px;
}
#page-wrapper #sidebar .side-menu li#fluid_layout {
    display: none;
}
#footer {
    font-size: 0.9em;
    padding: 30px 0 50px;
    text-align: center;
}
#footer #menu {
    padding: 0 0 30px;
}
#footer #menu a {
    margin: 0 5px;
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Add_product {
    background-image: url("../images/addproduct.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Buy {
    background-image: url("../images/buy.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Sale {
    background-image: url("../images/sale.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Receive {
    background-image: url("../images/receivefactory.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Send_product {
    background-image: url("../images/sendproduct.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Return_product {
    background-image: url("../images/returnproduct.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Return_factory {
    background-image: url("../images/returnfactory.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Add_material {
    background-image: url("../images/addmaterial.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Buy_material {
    background-image: url("../images/buymaterial.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Add {
    background-image: url("../images/add.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Add_user {
    background-image: url("../images/adduser.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.User_list {
    background-image: url("../images/userlist.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Add_employee {
    background-image: url("../images/addemployee.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Add_vendor {
    background-image: url("../images/addvendor.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Vendor_list {
    background-image: url("../images/vendorlist.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Employee_list {
    background-image: url("../images/employeelist.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Report {
    background-image: url("../images/report.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Report_high {
    background-image: url("../images/stockreportmaterials.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Report_high {
    background-image: url("../images/stockreportmaterials.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Report_low {
    background-image: url("../images/lowreport.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Low_report_materials {
    background-image: url("../images/lowreportmaterials.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Receive_back {
    background-image: url("../images/receiveback.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Transactions {
    background-image: url("../images/transactions.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Top_sale {
    background-image: url("../images/topsale.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Invoice {
    background-image: url("../images/invoice.png");
}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Send_factory {
    background-image: url("../images/Send_factory.png");

}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.manage {
    background-image: url("../images/manage.png");

}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.manageSales {
    background-image: url("../images/manageSales.png");

}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.viewfactory {
    background-image: url("../images/viewfactory.png");

}
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.invoice {
    background-image: url("../images/invoice.png");

}
}
h1 {
    font-size: 40px;
	
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 11px;
}
h5 {
    font-size: 9px;
}
h6 {
    font-size: 7px;
}
.heading { text-align:center;}
.heading h1 { font-size:24px;}